.todo-text-container h3 {
  font-family: "Archivo Black";
  font-size: calc(1.6175rem * .81);
  line-height: calc(2.0704rem * .81);
}

.todo-text-container span {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

@media (min-width: 1024px) {
  .todo-text-container h3 {
    font-size: 1.6175rem;
    line-height: 2.0704rem;
  }
}
